.title {
  font-weight: 500;
}
.pill {
  display: inline-block;
  border-radius: 29px;
  padding: 3px 0px;
  font-size: 12px;
  font-weight: 500;
  min-width: 30px;
  text-align: center;
}
.itemLists {
  display: flex;
  gap: 6px;
  flex-direction: column;
}
.listItem {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  height: 22px;
}
.listItem:hover {
  background: #f7f7f7;
}
.listIcon {
  width: 20px;
  display: flex;
  justify-content: center;
}
.wrapper {
  padding: 0px 24px 10px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.dialog {
  min-width: 30vw;
}
.contentWrapper {
  padding: 12px;
  flex: 1;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.wrapperTitle {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}
.title {
  top: 0px;
  left: 0px;
  padding: 8px 16px;
  background: gray;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 4px #8d8d8d;
}
.closeIcon {
  margin-top: 8px;
}
.collapseCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.wrap{
  flex-grow: 1;
  padding: 16px;
  overflow-y: scroll;
}
